
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background: #D0C7C2;
  color: #666;
  font: 16px helvetica,arial,freesans,clean,sans-serif;
  line-height: 20px;
}

a{
  color: #333;
  text-decoration: none;
}

.container{
  width:100%;
  .logo{
    height:300px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .description{
    max-width: 300px;
    margin: 0 auto;
  }
  .hoodie{
    height:100px;
    width: 100%;
    max-width: 245px;
    margin: 0 auto;
  }
  p{
    margin: 0 20px 20px 30px;
    &:last-child{
      margin-bottom: 12px;
    }
  }
}